/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#message_edit_form #message-input,
#messages-input-container #message-input,
.inline_message_input_container #message-input,
.ts_tip,
#active_channel_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.message_content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22px;
  font-size: 14px;
}

/* 'bot_message' is attached to things from incoming webhooks -- usually notifications.
   'bot' is added to that as well and is hubot replies. */

.bot {
  background-color: #FAFAFA;
  &:hover {
    background-color: #FAFAFA;
  }
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;

  .inline_attachment_wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .message_content {
    font-family: Menlo, Consolas, monospace;
    font-size: 80%;
    font-weight: bold;
  }
}
.bot_message .message_content {
  color: #bebebe;
}

ts-message {
  padding-top: 0px;
  padding-bottom: 0px;
}

.msg_inline_img_holder .msg_inline_img_container {
  max-width: inherit;
}

.msg_inline_file_preview_toggler, .inline_img_bytes, .msg_inline_img_collapser {
  display: none;
}

.color_bot_Hubot, .color_bot_hubot {
  display: none !important;
}

/* Allow long bot message to scroll */
.bot_label ~ .message_body .content.multiline_attachment {
  font-family: menlo;
  font-size: 12px;
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
  display: block;
}

/* Move text expander on its own line */
.bot_label ~ .message_body .dynamic_content_max_width .rest_text_expander {
  display: block;
}

/* Unify timestamp style */
.timestamp {
  float: right;
  font-family: menlo;
  font-size: 11px;
  margin-top: 1px;
}

/* Smaller avatar becasue of the padding changes */
ts-message .member_image {
  transform: scale(0.8);
}

ts-message .message_gutter,
ts-message .message_gutter a {
  font-family: menlo;
  font-size: 11px;
  text-align: center;
}

/* Move star button becasue of the padding changes */
.message_star_holder {
  left: 8px;
  position: absolute;
  top: -1px;
}

/* Smaller emojis to go with smaller text */
.emoji-outer {
  transform: scale(0.8);
}

/* Don't separate bot messages */
.bot_message + .bot_message, .bot + .bot_message, .bot_message + .bot, .bot + .bot {
  border-top: 0;
}

#messages_container .message_gutter {
  padding-left: 20px;
}

/* disable distracting message hover */
ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.sent_by_me):not(.bot), ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.sent_by_me):not(.bot) {
  background: inherit;
}

/* Highlight messages sent by current user */
ts-message.sent_by_me {
  background: #fff9f0;
  &:hover {
    background: #fff9f0 !important; /* slack's hover selector is incredibly specific */
  }
}

.inserted_button {
  border-radius: 5px;
  background: #fbfbfa;
  line-height: 16px;
  font-size: 14px;
  font-family: Slack-Lato,appleLogo,sans-serif;
  font-weight: 700;
  text-shadow: none;
  color: #555459;
  border: thin solid #ddd;
  &:hover {
    background: #fff;
    color: #3aa3e3;
  }
}

pre.special_formatting {
  white-space: nowrap;
  overflow: auto;
}

.message_body i .emoji-sizer {
  transform: skew(-14deg);
}

.message_body b .emoji-sizer {
  animation-duration: 1.6s;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0%, 100% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.5);
   }
}
